html {
  background: url('Images/SAM7D-51633HDRweb2.jpg') no-repeat center center fixed;
  background-size: cover;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: hsla(0, 0%, 0%, 0.6);
  top: 0;
  left: 0;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav1 {
  border: none;
  color: #dedede;
  padding-left: 2em;
}

.nav2 {
  display: flex;
}

ul a {
  color: white;
  text-decoration: none;
}

header ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex: 1;
  margin: auto;
}

header li {
  padding-right: 2em;
}

main .firstContainer {
  background-color: hsla(0, 0%, 0%, 0.6);
  margin-top: 30em;
}

.firstContainer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 2em;
  margin: 0;
}

.firstContainer li img {
  padding: 1em 0;
}

.secondContainer {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsl(180, 13%, 5%));
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.imgbox {
  height: 75px;
  min-width: (100% - 40px);
  background-image: url('./Images/code5.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.textbox1 {
  background-color: #dedede;
  padding: 0 15px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

h3 {
  background-color: #dedede;
  padding: 15px 15px 0;
  margin: 0;
}

h3 span {
  font-weight: lighter;
  font-size: 14px;
  padding-left: 5px;
}

p {
  background-color: #dedede;
  padding: 5px 15px 15px;
  margin-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bluebox a {
  color: white;
  text-decoration: none;
}

.bluebox a:hover {
  background: #fafafa;
  padding: 0 5px;
  color: #6aabd4;
  box-shadow: inset 0 0 0 0.5px #6aabd4;
  border-radius: 5px;
}

.bluebox {
  position: absolute;
  right: 2em;
  bottom: -0.65em;
  width: 125px;
}

.bluebox h3 {
  background-color: #6aabd4;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
}

.thirdContainer {
  background-color: #0d1111;
  padding: 0 2em 2em;
}

.imgbox2 {
  height: 75px;
  min-width: (100% - 40px);
  background-image: url('Images/code3.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footLine1 {
  background-color: #0d1111;
  text-align: center;
  font-size: 20px;
  color: #dedede;
  padding: 5px;
  margin: 0;
}

.footLine2 ul {
  display: flex;
  list-style: none;
  background-color: #0d1111;
  justify-content: center;
  padding: 0.5em;
  margin: 0;
}

.footLine2 li a {
  margin: 20px;
  padding: 3px;
  border: #a1a1a1;
  float: left;
  transition: margin 0.5s ease-out;
}

.footLine2 a:hover {
  cursor: pointer;
  margin-top: 5px;
}

.footLine3 p {
  color: #dedede;
  background-color: #0d1111;
  text-align: center;
  margin: 0;
  padding: 50px 0 30px;
  font-size: 14px;
}

@media (max-width: 824px) {
  .firstContainer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2em;
    margin: 0;
  }

  .firstContainer li img {
    padding: 1em 0;
  }

  .footLine2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #0d1111;
    justify-content: center;
    padding: 0.5em;
    margin: 0;
  }
}
